Flask==3.0.3
pandas==2.1.4
scikit-learn==1.4.2
nltk==3.8.1
vaderSentiment==3.3.2
matplotlib==3.8.4
wordcloud==1.9.3
gunicorn==22.0.0
pillow==10.3.0
numpy==1.26.4
python-dotenv==1.0.1
scipy==1.13.1
joblib==1.4.2
threadpoolctl==3.5.0
